

@font-face {
    font-family: Frankfurter-Highlight;
    src: url("../assets/FrankfurterHighlight.woff");
}
@font-face {
    font-family: Frankfurter-Medium;
    src: url("../assets/OPTIFrankfurter-Medium.woff");
}

body{
    background-color: rgb(212, 177, 255);
    font-family: Frankfurter-Medium;
}

h1{
    font-family: Frankfurter-Highlight;
    color: white;
    font-size: 130px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    margin-bottom: -20px;
    margin-top: -1px;
}

h2{
    font-family: Frankfurter-Medium;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

h3{
    font-family: Frankfurter-Medium;
    color: white;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

h4{
    font-family: Frankfurter-Medium;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    padding-left: 50px;
    padding-right: 50px;


}

h5{
    font-family: Frankfurter-Medium;
    color: rgb(212, 177, 255);
    font-size: 30px;
    margin-top: -2px;
    margin-bottom: -0.5px;
    text-align: center;

}


.label-container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
        text-align: center;
}