

.title{
    height: 100px;
    width: 500px;
    position: relative;
    top: 20px;
    margin: auto;
    text-align: center;
    
    font-family: lexendTitle;
    font-weight: 600;
    background-color: white;
    border: none;
    font-size: 19px;
    z-index: 400;
    border-radius: 10px;
}

.bg{
    width: 100%;
    height: auto;
    z-index: 0;
    
}


img{
    height: 320px;
    width: 320px;
    
    position: absolute;
    

}

body{
    background-color: white
    
}



/*fonts*/
.lexendTitle{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.lexendNorm{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  /*ADD STROKE?*/
}



h1{
    z-index: 100;
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: auto;
    position: relative;
    padding: 25px;
    color: black;
}

 

/*card*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    

}

.outside p{
    font-size: 42px;
    padding: 2%;
    padding-top: 20px;
    letter-spacing: 1px;


}



.card{
    width: 640px;
    height: 400px;
    position: relative;
    
    margin-left: 18%;
    margin-right: 82%;
    margin-top: 8%;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
    display: flex;
    justify-content: center; 
    align-items: center;   


}


.card:hover{
    transform: rotate(-10deg) translate(150px);
    
    
}

.card:hover .outside{
    transform: rotateY(-150deg);

}

.noanim{
    transform: none !important;
    transition: none !important;
    animation: none !important;
    
    
}


.card.noanim, .card.noanim:hover, .card.noanim:hover .outside, .outside.noanim, .outside.noanim:hover{
    transform: none !important;
    transition: none !important;
    animation: none !important;
    
    
}



p{
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 250;
  
}

h2{
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    font-weight: 300px;
    text-align: center;
  
}

.outside, 
.inside{

    
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;

}

.inside{
    left: 50%;
    background: linear-gradient(to right, #e0e0e0, #ffffff);
    


}

.outside{

    -webkit-transform-style: preserve-3d;
    z-index: 100;
    transform-origin: left;
    transition: 2s;

}

.front, .back{
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
}

.front{
    background-color: white;

}

.back{
    transform: rotateY(180deg);
    
    background-color: white;
    align-items: center;
    

}

/*bottom layer*/

.hidden{
    display: none;
}

.visible{
    display: block;
}

.addzindex{
    z-index: 500 !important;
}
.addzindex2{
    z-index: 900 !important;
}


